@page
@model IndexModel
@{
    ViewData["Title"] = "Alan Arango";
}

<div class="text-center">
    <h1 class="display-4">ALAN ARANGO</h1>
    <a href="https://www.linkedin.com/in/alangabrielarango/">Visit my LinkedIn</a>
    <p>The time is @DateTime.Now</p>
</div>
